
<div class="trip-content">
  <div class="trip-summary">
    <div class="trip-summary__content">
      <h1 class="place__title">テストテストテスト</h1>
      <div class="trip-summary__popularity"></div>
    </div>
    <div class="trip-summary__actions">
      <button class="favorite">お気に入り</button>
      <button class="review">投稿</button>
    </div>
  </div>

  <div class="content">
    <h2 class="content__title">〜の情報</h2>
    <dl class="content__table">
      <dt class="table__title">カテゴリー</dt>
      <dd class="table__body">カテゴリー</dd>
      <dt class="table__title">営業時間</dt>
      <dd class="table__body">営業時間</dd>
      <dt class="table__title">定休日</dt>
      <dd class="table__body">定休日</dd>
      <dt class="table__title">電話番号</dt>
      <dd class="table__body">電話番号</dd>
      <dt class="table__title">アクセス</dt>
      <dd class="table__body">アクセス</dd>
    </dl>
  </div>
</div>