

<div class="trip-summary">
  <div class="trip-summary__content">
    <h1 class="place__title">テストテストテスト</h1>
    <div class="trip-summary__popularity"></div>
  </div>
  <div class="trip-summary__actions">
    <button class="favorite">お気に入り</button>
    <button class="review">投稿</button>
  </div>

</div>