

<%= render "users/profile", user: @user %>

<div class="follower">
  <div class="container">
    <div class="follower__user">
      <div class="user__img">
        <%= image_tag "/images/BE107FAC-D706-48DF-912B-4BD2C11B41F7.jpg" %>
      </div>
      <div class="user__profile">
        <p class="user__name">なかの</p>
        <p class="user__account">tsubasan1122</p>
      </div>
      <button class="follower__button">フォロー中</button>
    </div>
    <div class="follower__user">
      <div class="user__img">
        <%= image_tag "/images/BE107FAC-D706-48DF-912B-4BD2C11B41F7.jpg" %>
      </div>
      <div class="user__profile">
        <p class="user__name">なかの</p>
        <p class="user__account">tsubasan1122</p>
      </div>
      <button class="follower__button">フォロー中</button>
    </div>
    <div class="follower__user">
      <div class="user__img">
        <%= image_tag "/images/BE107FAC-D706-48DF-912B-4BD2C11B41F7.jpg" %>
      </div>
      <div class="user__profile">
        <p class="user__name">なかの</p>
        <p class="user__account">tsubasan1122</p>
      </div>
      <button class="follower__button">フォロー中</button>
    </div>
  </div>
</div>