
<div class="follower">
  <div class="container">
    <% @users.each do |user| %>
      <div class="follower__user">
        <%= link_to user_path(user.id), class:"user__show" do %>
          <div class="user__img">
            <%= attachment_image_tag user, :user_image, fallback: "/images/no_image.jpg"  %>
          </div>
          <div class="user__profile">
            <p class="user__name"><%= user.name %></p>
            <p class="user__account"><%= user.account_name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>