

<div class="about">
  <div class="about__image"><%= image_tag "/images/BE107FAC-D706-48DF-912B-4BD2C11B41F7.jpg", :width => "100%", :height => "488px" %></div>
    <h1 class="about__title">たびろぐ</h1>
  <div class="detail">
    <p class="detail__text">たびろぐは、大切な人と満足のゆく旅行先を発見・共有する旅行口コミサービスです。</p>
    <div class="feature">
      <div class="feature__box">
         <%= image_tag "/images/communication.png" ,class: "feature__icon1" , :width => "100px" , :height => "100px" %>
         <h3 class="feature__title">Review</h3>
         <p class="feature__description">
           実際に旅行に行ったユーザーのリアルな口コミを多数掲載しています。人の趣向は十人十色であり、評価は賛否両論あって当然です。<!--  <br>-->
           様々な意見を掲載することで、より旅行選びの参考になると考えています。
         </p>
      </div>
      <div class="feature__box">
        <%= image_tag "/images/retrieval.png" ,class: "feature__icon", :width => "100px" , :height => "100px" %>
        <h3 class="feature__title">Search</h3>
        <p class="feature__description">
          自分と好みの合うユーザーをフォローする。もしくは様々な旅行先を検索することで満足のゆく旅行先を発見する事が出来ます。
        </p>
      </div>
      <div class="feature__box">
        <%= image_tag "/images/suitcase.png" ,class: "feature__icon", :width => "100px" , :height => "100px" %>
        <h3 class="feature__title">Trip</h3>
        <p class="feature__description">
          魅力的なオススメの中から、そのときの気分やシチュエーションに合わせた、あなたにとってのBESTな旅行先を見つけてみてください。
        </p>
      </div>
    </div>
  </div>
</div>