// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//indexページ
.title__box{
  width: 90%;
  height: 30px;
  margin: 0 auto;
  .area__title{
    float: left;
    font-size: 1.75rem;
    margin-top: 15px;
  }
}

.trips{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px auto 0;
  width: 90%;
  .trip {
    border: solid 1px #e0e2e3;
    border-radius: 15px;
    padding-bottom: 24px;
    width: 20%;
    height: 380px;
    box-sizing: border-box;
    float: left;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 0.3s;
    &__text {
      padding: 15px 0 10px;
      padding-left: 5px;
      .place__name {
        font-size: 1.15rem;
        font-weight: bold;
        letter-spacing: 3px;
        word-wrap: break-word;

      }
      .place__detail {
        font-size: 0.85rem;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 1;
        color: #999999;
        word-wrap: break-word;
      }
    }
    .review__num{
      padding-left: 5px;
      font-size: 0.85rem;
    }
    .review__num span{
      font-size: 0.85rem;
      text-weight: bold;
      color: #ffb900;
    }
    .wannago-button {
      border-color: #d5d5d8;
      color: #6c6c75;
      background-color: #ffffff;
      padding: 6px 28px;
      border-radius: 4px;
      margin: 10px 0px 0 65px;
    }
    .wannago-button img{
      margin-right: 5px;
      margin-bottom: 4px;
      width: 16px;
      height: 16px;
    }
  }
  .trip__img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
  }
  .trip:hover{
    box-shadow: 6px 6px 6px 1px rgba(141,147,150,0.3);
  }
}




//showページ

//メインタイトル
.trip-summary{
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 10px auto 0;
  &__content{
    flex: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 45px;
    .place__title{
      font-size: 2rem;
      font-weight: bold;
    }
    .trip-summary__popularity{
      margin-top: 15px;
    }
  }
  &__actions{
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    background-color: #f4f4f5;
    z-index: 90;
    margin-top: 45px;
    .wannago{
      border-color: #d5d5d8;
      color: #6c6c75;
      background-color: #ffffff;
      padding: 6px 28px;
      border-radius: 4px;
      font-size: 0.75rem;
    }
    .contribution{
      background-color: #32E5FF;
      color: #ffffff;
      padding: 5px 30px;
      border: none;
      border-radius: 4px;
      margin-top: 8px;
      font-size: 0.75rem;
    }
  }
}
.trip-summary__popularity img{
  width: 40px;
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.wannago img{
  margin-right: 5px;
  margin-bottom: 4px;
  width: 16px;
  height: 16px;
}
.contribution img{
  margin-right: 5px;
  margin-bottom: 4px;
}
hr{
  margin: 12px auto;
  width: 80%;
  background-color: #d5d5d8;
  height: 1px;
  border: none;
}


//メインイメージ

.trip-img{
  width: 80%;
  margin: 0 auto;
}
.trip-img img{
  width: 800px;
  height: 500px;
  margin-bottom: 10px;

}
#my-slide{
  margin: 0 auto;
  width: 800px;
}

//口コミ
.reviews{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  .review__title{
    text-align: left;
    color: #2e2e3b;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 12px;
    border-bottom: 1px solid #d5d5d8;
  }
  .review__title span{
    color: #ffb900;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .review{
    margin-top: 20px;
    text-align: left;
    border-bottom: 1px solid #d5d5d8;
    padding: 0 0 35px;
    position: relative;
    .review__user__box{
      display: block;
      width: 100%;
      position: relative;
      .user__img{
        width: 40px;
        height: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
      }
      .user__detail{
        display: block;
        flex-wrap: wrap;
        align-content: space-between;
        position: absolute;
        top: 3px;
        left: 50px;
        line-height: 1.2;
        .user__name{
          font-size: 1rem;
          color: #6c6c75;
        }
      }
    }
    .trip__date{
      padding: 3px 0;
    }
    .review__text{
      padding-bottom: 5px;
      line-height: 1.5;
    }
    .review__image{
      margin-bottom: 3px;
      display: inline-flex;
    }
    .review__date{
      display: block;
      font-size: 0.75rem;
    }
    .favorite-button{
      float: right;
      padding: 5px 10px;
      border: 1px solid #ffb900;
      color: #ffb900;
      background-color: #ffffff;
      border-radius: 4px;
      font-size: 0.75rem;
      position: absolute;
      right: 0px;
      bottom: 3px;
    }
    .favorite img{
      margin-right: 5px;
      margin-bottom: 4px;
    }
  }
  .more{
    padding: 6px 18px;
    border: 1px solid #000000;
    color:  #000000;
    background-color: #ffffff;
    margin: 15px auto 0px;
    border-radius: 4px;
    font-size: 0.75rem;
  }
}

.review__image img{
  width: 78px;
  height: 78px;
  display: flex;
}

//テーブル

.content{
  width: 80%;
  margin: 70px auto 40px;
  .place__detail{
    text-align: left;
    margin-top: 12px;
    line-height: 2;
    font-size: 1.25rem;
    letter-spacing: 1.8px;
    word-wrap: break-word;
  }
  .content__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #2e2e3b;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 0 0 12px;
    border-bottom: 1px solid #d5d5d8;
  }
  .content__link{
    float: right;
  }
  .content__table{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    border: 1px solid #eaeaeb;
    padding: 8px 16px;
    background-color: #fafafa;
    .table__title{
      flex: 0 0 180px;
      display: flex;
      align-items: center;
      padding: 16px 8px;
      color: #2e2e3b;
      font-weight: bold;
      box-sizing: border-box;
    }
    .table__title img{
      margin-right: 15px;
    }
    .table__body{
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(100% - 212px);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 16px 8px;
      min-height: 80px;
      color: #4a4a4b;
      letter-spacing: 1px;
    }
  }
}
.table__title:not(:last-of-type){
  border-bottom: 1px solid #eaeaeb;
}
.table__body:not(:last-of-type){
  border-bottom: 1px solid #eaeaeb;
}
.evaluation__name{
  display: inline-block;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-size: 0.85rem;
  font-weight: bold;
}



//旅行登録

.trip-registration{
  width: 700px;
  margin: 80px auto;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,1) 0px 0px 1px 0px;
  .attachment-form{
    text-align: left;
    margin-bottom: 20px;
  }
  .attachment-form label{
    display: block;
    font-size: 0.85rem;
  }
  .attachment-form input{
    font-size: 0.85rem;
  }

  .form{
    text-align: left;
    margin-bottom: 20px;
  }
  .form label{
    font-size: 0.85rem;
  }
  .form input{
    width: 100%;
    border: 1px solid #e1e5e7;
    height: 31px;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 100;
  }
  .form-group{
    text-align: left;
    margin-bottom: 20px;

  }
  .form-group label{
    display: block;
    font-size: 0.85rem;
  }
  .form-group textarea{
    font-size: 0.85rem;
    width: 100%;
    border: 1px solid #e1e5e7;
    height: 120px;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 100;
  }
  .form select{
    font-size: 0.85rem;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 100;
  }
  .action input{
    width: 50%;
    background-color: #32E5FF;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: none;
    margin-bottom: 5px;
  }
  .field{
    text-align: left;
    padding-bottom: 10px;
  }
  .field label{
    font-size: 0.85rem;
    padding-right: 35px;
  }
  #getfile{
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;

  }
  .time{
    text-align: left;
    padding-bottom: 10px;
  }
  .time label{
    display: block;
    font-size: 0.85rem;
  }
  .time input{
    font-size: 0.85rem;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 100;

  }
  #trip_start_time_5i{
    display: none;
  }
  #trip_end_time_5i{
    display: none;
  }

}


//口コミ投稿

.review-registration{
  display: none;
  width: 700px;
  height: 575px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,1) 0px 0px 1px 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  .attachment-form{
    text-align: left;
    margin-bottom: 20px;
  }
  .attachment-form label{
    display: block;
    font-size: 0.85rem;
  }
  .attachment-form input{
    font-size: 0.85rem;
  }

  .form{
    text-align: left;
    margin-bottom: 20px;
  }
  .form label{
    font-size: 0.85rem;
  }
  .form input{
    width: 100%;
    border: 1px solid #e1e5e7;
    height: 31px;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 100;
  }
  .form-group{
    text-align: left;
    margin-bottom: 20px;

  }
  .form-group label{
    display: block;
    font-size: 0.85rem;
  }
  .form-group textarea{
    font-size: 0.85rem;
    width: 100%;
    border: 1px solid #e1e5e7;
    height: 120px;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 100;
  }
  .form select{
    font-size: 0.85rem;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 100;
  }
  .action input{
    width: 50%;
    background-color: #32E5FF;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: none;
    margin-bottom: 5px;
  }
  .field{
    text-align: left;
    padding-bottom: 10px;
  }
  .field label{
    font-size: 0.85rem;
    padding-right: 35px;
  }
  #getfile{
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.85rem;

  }
  .time{
    text-align: left;
    padding-bottom: 10px;
  }
  .time label{
    display: block;
    font-size: 0.85rem;
  }
  .time input{
    font-size: 0.85rem;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 100;

  }
  #review_timezone_start_5i{
    display: none;
  }
  #review_timezone_end_5i{
    display: none;
  }
  .action{
    width: 100%;
    margin: 15px auto;
    text-align: center;
  }
}
//お気に入りアイコン
.fa {
  margin-right: 5px;
}
.heart {
  background-color: #ffb900 !important;
  color: #FFFFFF !important;
}
.review__wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  display: none;
  z-index: 1000;
}

.main-modal {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  text-align: right;
  z-index: 1000;
}
.form-radio{
  text-align: left;
  margin-bottom: 20px;
}
.form-radio label {
  font-size: 0.85rem;
}
.fav__button{
  text-align: center;
  float: right;
  width: 18%;
  display: block;
  font-size: 0.85rem;
}
.fav__button i{
  color: #ffb900;
  border: 1px solid #ffb900;
  padding: 8px 18px;
  border-radius: 4px;
}