// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title__box{
  width: 75%;
  height: 30px;
  margin: 0 auto;
  .area__title{
    float: left;
    font-size: 1.75rem;
    margin-top: 15px;
  }
}

.trips{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px auto 0;
  width: 75%;
  .trip {
    border: solid 1px #e0e2e3;
    border-radius: 15px;
    padding-bottom: 24px;
    width: 23%;
    height: 375px;
    box-sizing: border-box;
    float: left;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 0.3s;
    &__text {
      padding: 15px 0 10px;
      padding-left: 5px;
      .place__name {
        font-size: 1.15rem;
        font-weight: bold;
        letter-spacing: 3px;

      }
      .place__detail {
        font-size: 0.2rem;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 1;
        color: #999999;
      }
    }
  }
  .trip img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
  }
}
.trip:hover{
  box-shadow: 6px 6px 6px 1px rgba(141,147,150,0.3);
}




//詳細画面

.content{
  width: 60%;
  margin: 0 auto;
  .content__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #2e2e3b;
    font-size: 1.38462rem;
    font-weight: bold;
    padding: 0 0 12px;
    border-bottom: 1px solid #d5d5d8;

  }
  .content__table{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    border: 1px solid #eaeaeb;
    padding: 8px 16px;
    background-color: #fafafa;
    .table__title{
      flex: 0 0 180px;
      display: flex;
      align-items: center;
      padding: 16px 8px;
      color: #2e2e3b;
      font-weight: bold;
      box-sizing: border-box;
    }
    .table__body{
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(100% - 212px);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 16px 8px;
      min-height: 80px;
      color: #4a4a4b;
    }
  }
}
.table__title:not(:last-of-type){
  border-bottom: 1px solid #eaeaeb;
}
.table__body:not(:last-of-type){
  border-bottom: 1px solid #eaeaeb;
}